@model List<Charting.Models.OrderHistory>

@{
    ViewBag.Title = "Data Tables";
}

@Styles.Render("~/Content/DataTables-1.9.4/media/css/dataTables")

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(function () {
            $(".table").dataTable({});
        });
    </script>
    
}

<h2>Data Tables Example</h2>
<p class="lead">This is an example of using Data Tables to create interactive client-side tables</p>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Workgroup</th>
            <th>Vendor</th>			
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model)
        {
            <tr>
                <th>@order.OrderId</th>
                <td>@order.WorkgroupName</td>
                <td>@order.Vendor</td>
                <td>@order.DateCreated</td>
            </tr>
        }
    </tbody>
</table>